{% extends 'base.html' %}

{% block content %}
    <main id="main">
        <section id="gendata" class="about">
            <div class="pt-3 container" data-aos="fade-up">
                <div class="row">
                    <div class="col-lg-6 flex-column justify-content-center mr-3" data-aos="fade-up" data-aos-delay="200">
                        <div class="content" style="height: 100%;">
                            <h3>RSA Prompt</h3>
                            <h2>Google Responsive Search Ads with AI</h2>
                            <p>
                                Create RSAs now(this is a demo)🙂.
                            </p>
                            <form class="row g-3" method="POST">
                                {% csrf_token %}
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Final URL</label>
                                    <input class="form-control" id="finalUrl" name="finalUrl" value="{{response.finalUrl}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline1</label>
                                    <input class="form-control" id="headline1" name="headline1" value="{{response.headline1}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline2</label>
                                    <input class="form-control" id="headline1" name="headline2" value="{{response.headline2}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline3</label>
                                    <input class="form-control" id="headline1" name="headline3" value="{{response.headline3}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline4</label>
                                    <input class="form-control" id="headline1" name="headline4" value="{{response.headline4}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline5</label>
                                    <input class="form-control" id="headline1" name="headline5" value="{{response.headline5}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline6</label>
                                    <input class="form-control" id="headline1" name="headline6" value="{{response.headline6}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline7</label>
                                    <input class="form-control" id="headline1" name="headline7" value="{{response.headline7}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline8</label>
                                    <input class="form-control" id="headline1" name="headline8" value="{{response.headline8}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline9</label>
                                    <input class="form-control" id="headline1" name="headline9" value="{{response.headline9}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline10</label>
                                    <input class="form-control" id="headline1" name="headline10" value="{{response.headline10}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline11</label>
                                    <input class="form-control" id="headline1" name="headline11" value="{{response.headline11}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline12</label>
                                    <input class="form-control" id="headline1" name="headline12" value="{{response.headline12}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline13</label>
                                    <input class="form-control" id="headline1" name="headline13" value="{{response.headline13}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline14</label>
                                    <input class="form-control" id="headline1" name="headline14" value="{{response.headline14}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Headline15</label>
                                    <input class="form-control" id="headline1" name="headline15" value="{{response.headline15}}" required></input>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Description1</label>
                                    <textarea class="form-control" id="headline1" name="description1" required>{{response.description1}}</textarea>
                                </div>
                                <div class="form-outline">
                                    <label class="form-label" for="headline">Description2</label>
                                    <textarea rows="2" class="form-control" id="headline1" name="description2" required>{{response.description2}}</textarea>
                                </div>
                                <div class="col-12">
                                    <button id="btn-download" class="btn btn-primary">Download</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 ml-3">
                        <div class="row">
                          <div class="col-xs-1"></div>
                          <div class="col-xs-10">
                            <div class="row desktop"> <!-- desktop ad -->
                              <div class="col-sm-12 ad">
                                <!-- ngIf: getCompleteDisplayURL(ad) --><div class="urlline ng-scope" style="overflow: hidden; text-overflow: ellipsis;" ng-if="getCompleteDisplayURL(ad)">
                                  <strong class="adtag">Ad&nbsp;·</strong>&nbsp;<span class="displayurl ng-binding">{{response.finalUrl}}&nbsp;<span class="fa fa-caret-down"></span></span>
                                  <!-- ngIf: ad.features.showCallExt && ad.phone --> 
                                </div>
                                <h3 class="headline">
                                  <a href="http://www.responsivesearchads.com/top-features" rel="nofollow">
                                    <!-- ngRepeat: headline in getHeadlinesToDisplay(ad) -->
                                    
                                    {% for key, value in response.items|slice:":15" %}
                                        
                                    <span class="ng-scope ng-binding">
                                      <!-- ngIf: !$first -->
                                      {{value}} | 
                                    </span>
                                    {% endfor %}
                                    {% comment %} <span ng-repeat="headline in getHeadlinesToDisplay(ad)" class="ng-scope ng-binding">
                                      <!-- ngIf: !$first --><span ng-if="!$first" class="ng-scope">|</span>
                                      Get Started With Preview Tool
                                    </span><span ng-repeat="headline in getHeadlinesToDisplay(ad)" class="ng-scope ng-binding">
                                      <!-- ngIf: !$first --><span ng-if="!$first" class="ng-scope">|</span>
                                      Free Tool By Karooya
                                    </span> {% endcomment %}
                                  </a>
                                </h3>
                                <!-- ngIf: ad.features.showRating -->
                                <div>
                                  <!-- ngRepeat: description in getDescriptionsToDisplay(ad) --><span ng-repeat=" description in getDescriptionsToDisplay(ad)" class="description ng-scope ng-binding">
                                    <!-- ngIf: !$first -->{{response.description1}}
                                  </span><span ng-repeat=" description in getDescriptionsToDisplay(ad)" class="description ng-scope ng-binding">
                                    <!-- ngIf: !$first --><span ng-if="!$first" class="ng-scope"> </span>{{response.description2}}
                                  </span>
                                  
                                </div>
                                <!-- ngIf: ad.features.showCalloutExt && getCalloutLine(ad) -->
                                <!-- ngIf: ad.features.showStructuredSnippetsExt && getStructuredSnippetLine(ad) -->
                                <!-- ngIf: ad.features.showSitelinkExt && hasSitelinks(ad) -->
                                <!-- ngIf: ad.features.showLocationExt && hasNonEmptyAddresses(ad) -->
                                <!-- ngIf: ad.features.showPriceExt && hasPriceExtItems(ad) -->
                              </div>
                            </div> <!-- /.row desktopad -->
                    
                            <div class="row" style="margin-top: 20px"> <!-- mobile -->
                              <div class="col-sm-12">
                                <div class="mobile-preview-frame" style="background-color: #efefef;">
                                  <div class="row" style="margin-top:5px; margin-bottom: 10px;">
                                    <div class="col-sm-12 text-center" style="font-size:20px;">
                                      <span style="color:blue;">G</span><span style="color:red;">o</span><span style="color:orange;">o</span><span style="color:blue;">g</span><span style="color:green;">l</span><span style="color:red;">e</span>
                                    </div>
                                  </div>
                                  <div class="row" style="margin-top:5px; padding:2px;">
                                    <div class="col-sm-12 mobile-cards">
                                      <div class="inner-addon left-addon right-addon">
                                        <input id="mobile-search-input" class="form-control input" type="text">
                                        <i class="k-icon-left k-icon glyphicon glyphicon-search"></i>
                                        <i class="k-icon-right k-icon fa fa-microphone" style="font-size: large; color: blue;"></i>
                                      </div>
                                      <div class="" style="color:#545454; padding:5px 10px;">
                                        <span style="color:#1a0dab;">ALL</span> <span style="margin-left: 15px;">MAPS</span> <span style="margin-left: 15px;">IMAGES</span>
                                        <span style="margin-left: 15px;">VIDEOS</span>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row" style="padding:2px;">
                                    <div class="col-sm-12 ad mobile-cards" style="background-color: white;">
                                      <div style="padding-left: 10px; padding-right: 10px;">
                                        <div class="urlline-mobile">
                                          <div class="row">
                                            <!-- ngIf: getCompleteDisplayURL(ad) --><div class="col-xs-10 ng-scope" style="overflow: hidden; text-overflow: ellipsis;" ng-if="getCompleteDisplayURL(ad)">
                                              <strong class="adtag-mobile">Sponsored&nbsp;·</strong>&nbsp;<span class="displayurl-mobile ng-binding">www.responsivesearchads.com/3-Headlines/2-Descriptions</span>
                                            </div>
                                            <div class="col-xs-2"><i style="color:bbb; padding:0px 5px 0px 5px;" class="fa fa-info-circle"></i></div>
                                          </div>
                                        </div>
                                        <div>
                                          <h3 class="headline">
                                            <a href="http://www.responsivesearchads.com/top-features" rel="nofollow">
                                              <!-- ngRepeat: headline in getHeadlinesToDisplay(ad) -->
                                              {% for key, value in response.items|slice:":15" %}
                                              <span ng-repeat="headline in getHeadlinesToDisplay(ad)" class="ng-scope ng-binding">
                                                <!-- ngIf: !$first -->
                                                {{value}} | 
                                              </span>
                                              {% endfor %}
                                            </a>
                                          </h3>
                                        </div>
                                        <!-- ngIf: ad.features.showRating -->
                                        <div>
                                          <!-- ngRepeat: description in getDescriptionsToDisplay(ad) --><span ng-repeat=" description in getDescriptionsToDisplay(ad)" class="description ng-scope ng-binding">
                                            {{response.description1}}
                                          </span><span ng-repeat=" description in getDescriptionsToDisplay(ad)" class="description ng-scope ng-binding">
                                            {{response.description2}}
                                          </span>
                                        </div>
                                        <!-- ngIf: ad.features.showCalloutExt && getCalloutLine(ad) -->
                                        <!-- ngIf: ad.features.showStructuredSnippetsExt && getStructuredSnippetLine(ad) -->
                                        <!--
                                        <div ng-if="ad.features.showReviewExt && getReviewExtLength(ad) > 0" class="review-ext" ng-class="{'review-ext-type-exact-quote':ad.reviewExtFormat==='ExactQuote'}">
                                          <span ng-if="ad.reviewText" class="review-ext-text">{{ad.reviewText}}</span><span ng-if="ad.reviewText && ad.reviewSource"> &ndash; </span><span ng-if="ad.reviewSource" class="review-ext-source">{{ad.reviewSource}}</span>
                                        </div>
                                        -->
                                        <!-- ngIf: ad.features.showSitelinkExt && hasSitelinks(ad) -->
                                        <!-- ngIf: ad.features.showPriceExt && hasPriceExtItems(ad) -->
                                        <!-- ngIf: ad.features.showCallExt && ad.phone && !(ad.features.showLocationExt && hasNonEmptyAddresses(ad)) -->
                <!-- 
                                        <div ng-if="ad.features.showMessageExt && ad.messageExtText">
                                          <hr style=" margin-bottom: 7px; margin-top: 7px; margin-left:-10px; margin-right:-10px;"/>
                                          <i style="font-size: large; padding:0px 5px 0px 5px;" class="fa fa-comment-o"></i> <span class="mobile-call-ext">{{ad.messageExtText}}</span>
                                        </div>
                 -->
                                        <!-- ngIf: ad.features.showLocationExt && hasNonEmptyAddresses(ad) -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div> <!-- /.row mobile ad -->
                          </div>
                        </div>
                      </div>
                    {% comment %} <div class="col-xs-12 col-sm-6">
                        <div class="col-sm-12">
                            <div class="mobile-preview-frame" style="background-color: #efefef;">
                            <div class="row" style="margin-top:5px; margin-bottom: 10px;">
                                <div class="col-sm-12 text-center" style="font-size:20px;">
                                <span style="color:blue;">G</span><span style="color:red;">o</span><span style="color:orange;">o</span><span style="color:blue;">g</span><span style="color:green;">l</span><span style="color:red;">e</span>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px; padding:2px;">
                                <div class="col-sm-12 mobile-cards">
                                <div class="inner-addon left-addon right-addon">
                                    <input id="mobile-search-input" class="form-control input" type="text">
                                    <i class="k-icon-left k-icon glyphicon glyphicon-search"></i>
                                    <i class="k-icon-right k-icon fa fa-microphone" style="font-size: large; color: blue;"></i>
                                </div>
                                <div class="" style="color:#545454; padding:5px 10px;">
                                    <span style="color:#1a0dab;">ALL</span> <span style="margin-left: 15px;">MAPS</span> <span style="margin-left: 15px;">IMAGES</span>
                                    <span style="margin-left: 15px;">VIDEOS</span>
                                </div>
                                </div>
                            </div>
                            <div class="row" style="padding:2px;">
                                <div class="col-sm-12 ad mobile-cards" style="background-color: white;">
                                <div style="padding-left: 10px; padding-right: 10px;">
                                    <div class="urlline-mobile">
                                    <div class="row">
                                        <!-- ngIf: getCompleteDisplayURL(ad) --><div class="col-xs-10 ng-scope" style="overflow: hidden; text-overflow: ellipsis;" ng-if="getCompleteDisplayURL(ad)">
                                        <strong class="adtag-mobile">Sponsored&nbsp;·</strong>&nbsp;<span class="displayurl-mobile ng-binding">www.responsivesearchads.com/3-Headlines/2-Descriptions</span>
                                        </div>
                                        <div class="col-xs-2"><i style="color:bbb; padding:0px 5px 0px 5px;" class="fa fa-info-circle"></i></div>
                                    </div>
                                    </div>
                                    <div>
                                    <h3 class="headline">
                                        <a href="http://www.responsivesearchads.com/top-features" rel="nofollow">
                                        <!-- ngRepeat: headline in getHeadlinesToDisplay(ad) --><span ng-repeat="headline in getHeadlinesToDisplay(ad)" class="ng-scope ng-binding">
                                            <!-- ngIf: !$first -->
                                            Excited About Responsive Ads?
                                        </span><span ng-repeat="headline in getHeadlinesToDisplay(ad)" class="ng-scope ng-binding">
                                            <!-- ngIf: !$first --><span ng-if="!$first" class="ng-scope">|</span>
                                            Get Started With Preview Tool
                                        </span><span ng-repeat="headline in getHeadlinesToDisplay(ad)" class="ng-scope ng-binding">
                                            <!-- ngIf: !$first --><span ng-if="!$first" class="ng-scope">|</span>
                                            Free Tool By Karooya
                                        </span>
                                        </a>
                                    </h3>
                                    </div>
                                    <!-- ngIf: ad.features.showRating -->
                                    <div>
                                    <!-- ngRepeat: description in getDescriptionsToDisplay(ad) --><span ng-repeat=" description in getDescriptionsToDisplay(ad)" class="description ng-scope ng-binding">
                                        Start Building Awesome Ads. Impress Your Boss and Clients with Screenshots of Great Ads.
                                    </span><span ng-repeat=" description in getDescriptionsToDisplay(ad)" class="description ng-scope ng-binding">
                                        3 Headlines. 2 Descriptions of 90 Characters. Highlight Features of Your Service/Product.
                                    </span>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </section>
    </main>
<style>.mr10 {
    margin-right: 10px;
}</style><script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.js" integrity="sha512-UNbeFrHORGTzMn3HTt00fvdojBYHLPxJbLChmtoyDwB6P9hX5mah3kMKm0HHNx/EvSPJt14b+SlD8xhuZ4w9Lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>

$(function () {
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    $('#btn-download').click(function (e){
      e.preventDefault()
      $.ajax({
        type:'GET',
        url: '/download',
        xhrFields: {
          responseType:'blob'
        },
        success: function(data){
          var blob = new Blob([data], {type:'application/ms-excel'});
          saveAs(blob, 'rsa.xlsx');
        }
      })
    })

})</script>{% endblock %}
